table,thead,tr,td,th {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    background-color: grey;
}
table thead~tbody>tr{
    background-color: yellow;
}
table tbody>tr{
    background-color: blueviolet;
}
tbody tr:nth-child(2n) {
    background-color: greenyellow;
}
tbody tr:hover{
    background-color: cadetblue;
}
