table,thead,tr,td,th {
    border: 2px dotted green;
    border-collapse: collapse;
}
th {
    background-color: grey;
}
table thead~tbody>tr{
    background-color: yellow;
}
table tbody>tr{
    background-color: blueviolet;
}
tbody tr:nth-child(2n-1) {
    background-color: lightblue;
}
tbody tr:hover{
    background-color: cadetblue;
}
